<div class="editor-row">
  <div class="section gf-form-group" >
    <table>
      <tr>
        <th>&nbsp;</th>
        <th><label class="gf-form-label width-5">TV Mode</label></th>
        <th><label class="gf-form-label width-5">Kiosk Mode</label></th>
      </tr>
      <tr>
        <td><label class="gf-form-label width-15">Plugin Panel</label></td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.tvMode.pluginPanel"></gf-form-switch>
        </td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.kioskMode.pluginPanel"></gf-form-switch>
        </td>
      </tr>
      <tr>
        <td><label class="gf-form-label width-15">Dashboard Title</label></td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.tvMode.dashboardTitle"></gf-form-switch>
        </td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.kioskMode.dashboardTitle"></gf-form-switch>
        </td>
      </tr>
      <tr>
        <td><label class="gf-form-label width-15">Action Buttons</label></td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.tvMode.actionButtons"></gf-form-switch>
        </td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.kioskMode.actionButtons"></gf-form-switch>
        </td>
      </tr>
      <tr>
        <td><label class="gf-form-label width-15">Cycle View Button</label></td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.tvMode.cycleViewButton"></gf-form-switch>
        </td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.kioskMode.cycleViewButton"></gf-form-switch>
        </td>
      </tr>
      <tr>
        <td><label class="gf-form-label width-15">Date Picker</label></td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.tvMode.datePicker"></gf-form-switch>
        </td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.kioskMode.datePicker"></gf-form-switch>
        </td>
      </tr>
      <tr>
        <td><label class="gf-form-label width-15">Time Range Zoom Button</label></td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.tvMode.timeRangeZoomButton"></gf-form-switch>
        </td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.kioskMode.timeRangeZoomButton"></gf-form-switch>
        </td>
      </tr>
      <tr>
        <td><label class="gf-form-label width-15">Refresh Button</label></td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.tvMode.refreshButton"></gf-form-switch>
        </td>
        <td>
          <gf-form-switch class="gf-form" checked="ctrl.panel.kioskMode.refreshButton"></gf-form-switch>
        </td>
      </tr>
    </table>
  </div>
  <div class="editor-row">
    <div class="section gf-form-group">
      <h5 class="section-heading">Disable Esc key</h5>
      <div class="gf-form">
        <gf-form-switch class="gf-form" label="Disable Esc key in kiosk and tv modes" label-class="width-20" checked="ctrl.panel.disableEscInKioskMode"
        ></gf-form-switch>
      </div>
    </div>
  </div>
</div>